{% extends 'shopapp/base.html' %}

{% block title %}
    Orders List
{% endblock %}

{% block main %}
    <h1>Orders:</h1>
    {% if orders %}
        <div>
            {% for order in orders %}
                <div>
                    <p>{% firstof order.user.firstname order.user.username %}</p>
                    <p>Promodoce: <code>{{ order.promocode }}</code></p>
                    <p>Delivery address: {{ order.delivery_address }}</p>
                    <div>
                        Goods:
                        <ul>
                            {% for i_product in order.products.all %}
                                <li>{{ i_product.name }} for ${{ i_product.price }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    {% else %}
        <div>No order here</div>
    {% endif %}
{% endblock %}
