{% extends 'shopapp/base.html' %}

{% block title %}
  Archive {{ object.name }}
{% endblock title %}

{% block body %}
  <h1>Are you sure you want to archive product {{ object.name }}?</h1>
  <div>
    <a href="{% url 'shopapp:product_details' pk=object.pk %}">Back to details</a>
  </div>
  <div>
    <a href="{% url 'shopapp:products_list' %}">Back to all products</a>
  </div>
  <div>
    <form method="post">
      {% csrf_token %}

      {{ form.as_p }}
      <button type="submit">
        Archive
      </button>
    </form>
  </div>
{% endblock body %}

