{% extends 'blogapp/base.html' %}

{% block title %}
  Articles
{% endblock %}

{% block body %}
  <h1>Articles:</h1>
  {% if articles %}
    {% for i_article in articles %}
      <p>Article #{{ i_article.pk }}: {{ i_article.title }}</p>
      <p>Publication date: {{ i_article.pub_date }}</p>
      <p>Author: {{ i_article.author.name }}</p>
      <p>Article category: {{ i_article.category }}</p>
      <p>
        Tags:
        {% if i_article.tags %}
          <ul>
            {% for i_tag in i_article.tags.all %}
              <li>{{ i_tag.name }}</li>
            {% endfor %}
          </ul>
        {% else %}
          Article have no Tags
        {% endif %}
      </p>
      <br><br><br>
    {% endfor %}
  {% else %}
    There is no articles yet.
  {% endif %}
{% endblock %}
